<div class="container" style="vertical-align: middle;margin:auto">
  <form class="designerReqForm">
  <div class="card" style="background-color:white;">
    <div class="card-body">
      <h4 class="card-title">Requirement Form | Designer</h4>
      <hr>
        <div class="form-group row">
          <div class="col-sm-4">
            <p >Property Ownership : </p>
          </div>

          <div class="col-sm-7 form-check form-check-inline">
            <ul class="radio-buttons">
              <li>
                <input type="radio" id="rented" name="ownership" style="padding-right: 10px" checked>
                <label for="rented" style="padding-right: 30px"> Rented  </label>
              </li>
              <li>
                <input type="radio" id="owned" name="ownership" style="padding-right: 10px">
                <label for="owned"> Owned  </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <p >Property Type : </p>
          </div>

          <div class="col-sm-7 form-check form-check-inline">
            <ul class="radio-buttons">
              <li>
                <input type="radio" id="apartment" name="type" checked>
                <label for="apartment" > Apartment  </label>
              </li>
              <li>
                <input type="radio" id="bungalow" name="type" >
                <label for="bungalow"> bungalow  </label>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>


    <div class="card">
      <div class="card-header">
        <div class="card-title">

          <div class="form-group row">
            <label class="col-sm-4">
              <p >Room name : </p>
            </label>

            <div class="col-sm-7 form-check form-check-inline">
              <input type="text" name="roomName" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
          <table class="table">
            <thead class=" text-primary">
              <th> Name </th>
              <th> Country </th>
              <th> City </th>

            </thead>
            <tbody>
              <tr>
                <td> Dakota Rice </td>
                <td> Niger </td>
                <td> Oud-Turnhout </td>

              </tr>
            </tbody>
          </table>
      </div>
    </div>

  </form>
</div>
