.card label{
  color: black !important;
  text-align: center;
  vertical-align: middle;
  display: inline-block
}

.designerReqForm p{
  color: black;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bolder;
}


input[type=radio]{
  padding: 5px !important;
}
