<br>
<p-toast position="top-center" baseZIndex="100"></p-toast>
<div class="container" style="margin-top: 10rem;align-items: center;height: 105vh;">
  <div class="card" style="background-color:beige;width: 40rem;margin: auto;">
    <div class="card-body" style="padding-top: 3rem;">
      <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)"  novalidate>
        <div class="row" style="text-align:center; margin:auto">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>Admin Panel</h2>
          </div>
        </div>

        <div class="form-horizontal">
          <div class="form-group">
            <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="text-align:right">
                    <label>Email Id</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9; input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="email" name="email" #emailRef="ngModel" style="width: 250px;" class="form-control" ngModel required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                    <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" style="text-align:left; padding-top:5px; color:red;">
                      <div [hidden]="!emailRef.errors.required">
                        <p>&nbsp;Email id is mandatory</p>
                      </div>
                      <div [hidden]="!emailRef.errors.pattern">
                        <p>&nbsp;Email id is not entered in proper format</p>
                      </div>
                    </div>
                </div>
            </div>

          </div>
          <div class="form-group">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="text-align:right">
                    <label>Password</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9; input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" name="password" #passwordRef="ngModel" style="width: 250px;" class="form-control" ngModel required>
                    <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" style="text-align:left; padding-top:5px; color:red;">
                        <div [hidden]="!passwordRef.errors.required">
                        <p>&nbsp;Password is mandatory</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <div class="col-md-11" style="padding-left:100px; text-align:center">
              <input type="checkbox" name="" value=""> Remember Me
            </div>
          </div> -->
          <div class="form-group">
            <div class="col-md-11" style="padding-left:100px; text-align:center">
              <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-md-7  " style=" text-align:right">
                <h6>Don't Have An Account yet ?</h6>
              </div>
              <div>
                <a href="/register">Register</a>
              </div> -->
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
