<div class="card" style="background-color:white;" *ngIf="fetchedDesignerClientMet.length!=0">
  <div class="card-body">
    <table class="table">
      <thead class=" text-primary">
        <th> </th>
        <th> ID </th>
        <th> NAME </th>
        <th> CONTACT </th>
        <th> CITY </th>
        <th> DOM/TIME </th>
        <th> Package </th>
        <th> DOS </th>
        <th> TAT </th>
      </thead>
      <tbody *ngFor="let client of fetchedDesignerClientMet; let i = index">
        <tr>
          <td data-toggle="collapse" [attr.data-target]="'#profilePage' + i"><button type="button" class="btn btn-primary"> > </button></td>
          <td> {{client.id}} </td>
          <td> {{client.name}} </td>
          <td> {{client.mobile}} </td>
          <td> {{client.city}} </td>
          <td> {{client.meetingDateTime}} </td>
          <td> {{client.package}} </td>
          <td *ngIf="client.dos"><span class="glyphicon glyphicon-remove"></span> </td>
          <td *ngIf="!client.dos"><span class="glyphicon glyphicon-remove">DOS</span> </td>
          <td><span class="glyphicon glyphicon-remove">TAT</span> </td>
        </tr>
        <tr>
          <td colspan="12">
            <div [attr.id]="'profilePage' + i" class="collapse"><app-client-profile [clientId]=client.id></app-client-profile>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>