<div class="card" style="background-color:white;" *ngIf="fetchedDesignerClientMet.length!=0">
  <div class="card-body">
    <table class="table">
      <thead class=" text-primary">
        <th> DOM/TIME </th>
        <th> ID </th>
        <th> NAME </th>
        <th> CONTACT </th>
        <th> CITY </th>
        <th> Package </th>
        <th> DOS </th>
        <th> TAT </th>

      </thead>
      <tbody>
        <tr *ngFor="let client of fetchedDesignerClientMet">
          <td> {{client.meetingDateTime}} </td>
          <button type="button" class="btn btn-primary" ><td> {{client.id}} </td></button>
          <td> {{client.name}} </td>
          <td> {{client.mobile}} </td>
          <td> {{client.city}} </td>
          <td> {{client.package}} </td>
          <td *ngIf="client.dos"><span class="glyphicon glyphicon-remove"></span> </td>
          <td *ngIf="!client.dos"><span class="glyphicon glyphicon-remove"></span> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>