<div class="card" style="background-color:white;"  >
    <div class="card-body">
      <!--      <div class="row" >-->
      <table class="table">
        <thead class=" text-primary">
        <th> DOM/TIME </th>
        <th> ID </th>
        <th> NAME </th>
        <th> CONTACT </th>
        <th> CITY </th>
        <th> Package </th>
        <th> CLIENT MET </th>

        </thead>
        <tbody>
        <!-- <tr *ngFor="let client of fetchedAssignedClients">
          <td> {{client.meetingDateTime}} </td>
          <td> {{client.id}} </td>
          <td> {{client.name}} </td>
          <td> {{client.mobile}} </td>
          <td> {{client.city}} </td>
          <td> {{client.package}} </td> -->
          <!-- <td><button class="btn btn-primary" (click)="openConfirmationDialog(client.id,client.projectId)">Update</button></td> -->
        <!-- </tr> -->
        </tbody>
      </table>
    </div>