<p-toast position="top-right" baseZIndex="100"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div *ngIf="clientProfileData">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Profile</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="form-group col-md-4">
            <label>Title</label>
            <select class="form-control" name="title"  [(ngModel)]="clientProfileData.title" required>
              <option value="" disabled selected>Title</option>
              <option value="Ms.">Miss</option>
              <option value="Mrs.">Mrs</option>
              <option value="Mr.">Mr</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>First Name</label>
            <input type="name" name="firstName" class="form-control details" [(ngModel)]="clientProfileData.firstName"
                   required placeholder="First Name" style="width: 100%">
          </div>
          <div class="form-group col-md-4">
            <label>Last Name</label>
            <input type=" name" name="lastName" class="form-control details "  [(ngModel)]="clientProfileData.lastName"
                   required placeholder="Last Name" style="width: 100%">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label>Contact Number</label>
            <input type="number" name="mobile" class="form-control details" [(ngModel)]="clientProfileData.mobile"
                   required placeholder="Contact Number" style="width: 100%"  disabled>
          </div>
          <div class="form-group col-md-4">
            <label>Email address</label>
            <input type="email" name="email" class="form-control details"  [(ngModel)]="clientProfileData.email" required
                   placeholder="Email" style="width: 100%"  disabled>
          </div>
          <div class="form-group col-md-4">
            <label>City</label>
            <select class="form-control" name="city" [(ngModel)]="clientProfileData.city" style="width: 100%" required>
              <option value="" disabled selected>Select City</option>
              <option value="DELHI">DELHI</option>
              <option value="NOIDA">NOIDA</option>
              <option value="GURGAON">GURGAON</option>
            </select>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-md-4 pl-1">
            <div class="form-group">
              &nbsp;&nbsp;&nbsp;<label for="exampleInputEmail1">Date Of Meeting</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <p-calendar name="meetingDatetime" showIcon="true" [(ngModel)]="clientProfileData.meetingDateTime" showTime="true" hourFormat="12"></p-calendar>
            </div>
          </div> -->
          <div class="form-group col-md-4">
            <label>Visit Charges</label>
            <input type="number" name="visitCharges" class="form-control details"
            [(ngModel)]="clientProfileData.visitCharges" placeholder="Visit Charges(If applicable)" style="width: 100%" required  disabled>
          </div>
          <div class="form-group  col-md-4">
            <label>Package Name</label>
            <select class="form-control" name="package" [(ngModel)]="clientProfileData.package" style="width: 100%" required  disabled>
              <option value="" disabled selected>Select Package</option>
              <option value="DN">Design Now Build Later</option>
              <option value="FHI">Full House Interior</option>
              <option value="MF">Mostly Furniture</option>
            </select>
          </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
              <label>Full Address</label>
              <textarea name="address" class="form-control details" [(ngModel)]="clientProfileData.address" 
              required style="width: 100%"></textarea>
            </div>
            <div class="form-group col-md-4">
              <label>Minutes Of Meeting</label> 
              <textarea name="minutesOfMeeting" class="form-control details" [(ngModel)]="clientProfileData.min_of_meeting" 
                required style="width: 100%" disabled></textarea>
            </div>
            <div class="form-group col-md-4">
              <label>Scope Of Work/Remarks</label>
                <textarea name="scopeOfWork" class="form-control details" [(ngModel)]="clientProfileData.scope_of_work" 
                required style="width: 100%"  disabled></textarea>
            </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-primary btn-round" (click)="updateProfile()">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card" *ngIf="clientTasks.length>0">
  <div class="card-header">
    <h5 class="card-title">Tasks</h5>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class=" text-primary">
      <th> S.NO. </th>
      <th> Name </th>
      <th style="text-align: center !important;"> Status </th>
      <th style="text-align: center !important;"> Start Date </th>
      <th style="text-align: center !important;"> End Date </th>
      </thead>
      <tbody *ngFor="let task of clientTasks; let i = index">
      <tr>
        <td> {{i+1}} </td>
        <td> {{task.task_name}} </td>
        <td align="center">
          <input class="taskInput" (change)="taskCheckboxClicked(i)" type="checkbox" [(ngModel)]="clientTasksStatus[i]" name="client{{i}}task">
        </td>
        <td align="center">{{task.start_date | date}}</td>
        <td align="center">{{task.end_date | date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="footer-control-bar">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <div *ngIf="clientProfileData" class="d-flex flex-row justify-content-center" >
        <div class="p-2">
          <a href="/dashboard/reqForm?name=reqForm&id={{clientProfileData.id}}"><button type="button" class="btn btn-primary">REQUIREMENT FORM</button></a>
        </div>
        <div class="p-2">
          <a href="/dashboard/designQuotation?id={{clientProfileData.id}}"><button type="button" class="btn btn-primary">DESIGN NOW/BUILD LATER</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
