<p-toast position="top-right" baseZIndex="100"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<!------------------ Add new room selector card ------------------------->
<div class="card">
  <div class="card-body">
<!--    <h4></h4>-->
    <h6 class="card-subtitle mb-2 mt-3">
      <div class="row">
        <div class="col all-center">
          <b>Client ID : {{clientProfileData.id}}</b><br>
        </div>
        <div class="col all-center">
          <b>Client NAME : {{clientProfileData.name}}</b><br>
        </div>
      </div>
    </h6>
    <hr>
    <form #roomSelectorForm=ngForm>
      <div class="form-row">
        <div class="col-md-5 form-group">
          <label for="roomTypeSelector">Room Type</label>
          <select name="roomTypeSelector" [(ngModel)]="roomTypeSelector" required class="form-control" id="roomTypeSelector">
            <option value="0" selected disabled>Select Category</option>
            <option *ngFor="let type of roomTypes | keyvalue" value="{{type.key}}">{{type.value}}</option>
          </select>
        </div>
        <div class="col-md-5 form-group">
          <label for="roomNameSelector">Room Name</label>
          <input type="text" class="form-control" name="roomNameSelector" placeholder="Room name" [(ngModel)]="roomNameSelector" required id="roomNameSelector">
        </div>
        <div class="col-md-2 " style="text-align: center; margin:auto;">
          <button type="button" [disabled]="(roomSelectorForm.invalid)"  class="btn btn-primary" (click)="addRoom(roomTypeSelector,roomNameSelector)">ADD</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!---------------------- ADD boq data card ---------------------------------->
<div *ngIf="clientProfileData" class="card ">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <!------------------------------------------ ADD ONSITE ------------------------------------------>
        <li class="list-group-item">
          <div class="row boqHeaderRow">
            <div class="col-md-12" >
              <div class="row">
                <div class="col-md-5" style="margin: auto;">
                  <div class="form-check-inline boqTitleBox">
                    <input type="checkbox" class="form-check-input" id="addOnSiteCheck" [(ngModel)]="addOnSiteCheck">
                    <label for="addOnSiteCheck" class="form-check-label" >ADD ON SITE</label>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group row titleTotalBox"  style="margin: auto;">
                    <label class="col col-form-label">Total : </label>
                    <div class="col">
                      <input type="number" class="form-control-plaintext" readOnly placeholder="0" [(ngModel)]="onSiteTotal" disabled>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 boqTitleOptions">
                  <i class="fa fa-refresh" (click)="onSiteRefresh()" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="addOnSiteCheck">
            <div class="col-md-12">
              <form #onSiteForm=ngForm>
                <div class="row onSiteSelectorRow" >
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Category</label>
                      <p-dropdown name="onSiteCategory" [options]="searchOnSite.categories"  [filter]="true" filterBy="label" [(ngModel)]="onSiteCategory" class="searchDropdown" (onChange)="getOnSiteDataDetails(onSiteCategory.category)"></p-dropdown>
                      <!--<select name="onSiteCategory" (change)="getOnSiteDataDetails($event.target.value)" [(ngModel)]="onSiteCategory" required class="form-control">
                        <option value="0" selected>Select Category</option>
                        <option *ngFor="let category of onSiteCategories" [value]="category.category">{{category.category}}</option>
                      </select>-->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Entity</label>
                      <p-dropdown name="onsiteEntity" [options]="searchOnSite.entities" [filter]="true" filterBy="label" [(ngModel)]="onSiteEntity" class="searchDropdown"></p-dropdown>
                      <!--<select name="entity"  [(ngModel)]="onSiteEntity" required class="form-control">
                        <option value="0" selected>Select Entity</option>
                        <option *ngFor="let entity of onSiteAllEntityData" [value]="entity.item_description">{{entity.item_description}}</option>
                      </select>-->
                    </div>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button" [disabled]="(onSiteForm.invalid)"  class="btn btn-primary" (click)="addOnSiteEntry(onSiteCategory,onSiteEntity)">ADD</button>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button"  class="btn btn-primary" (click)="addOnSiteEntry('allCategories','allEntities')">Add ALL</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="addOnSiteCheck">
            <div *ngFor="let row of onSiteRows; let i=index" class="row">
              <div class="col-md-12" style="border: solid thin #ccc;border-radius:3px;padding: 0.8rem;">
                <div class="row onSiteDataRow">
                  <div class="col-md-6">
                    <p>
                      <b> {{i+1}}) {{row.item_type}} : </b>
                      {{row.item_description}}
                    </p>
                    <p>Unit: {{row.unit}}| Rate : {{row.rate}}</p>
                  </div>
                  <div class="col-md-5">
                    <form #addOnSiteContentForm="ngForm">
                      <div class="row">
                        <div class="col"  *ngIf="row.nos=='true'" >
                          <label>Nos</label>
                          <input min="0" type="Number"  [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].nos" placeholder="NOS" class="form-control">
                        </div>
                        <div class="col" *ngIf="row.length=='true'">
                          <label>Length</label>
                          <input min="0"  type="Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].length" placeholder="LENGTH"  class="form-control">
                        </div>
                        <div class="col" *ngIf="row.height=='true'">
                          <label>Height</label>
                          <input min="0"  type="Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].height" placeholder="HEIGHT" class="form-control">
                        </div>
                        <div class="col" *ngIf="row.width=='true'">
                          <label>Width</label>
                          <input min="0"  type="Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].width"  placeholder="WIDTH/DEPTH" class="form-control">
                        </div>
                        <div class="col">
                          <label>Quantity</label>
                          <input min="0" type="Number" name="onSiteEntityQuantity{{i}}}" placeholder="Quantity" [(ngModel)]="onSiteResponseArray[i].quantity" (change)="changeOnsiteEntityQuantity(i)" class="form-control">
                          <!-- (onSiteResponseArray[i].quantity)*row.rate,onSiteResponseArray[i].id -->
                        </div>
                        <div class="col">
                          <label>Total</label>
                          <input min="0" disabled type="number" name="onSiteEntityTotal{{i}}" [value]="(onSiteResponseArray[i].quantity)*row.rate" [(ngModel)]="onSiteResponseArray[i].total" (change)="changeOnSiteEntityTotal(i)" placeholder="Total" class="form-control">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-1 delete-entity">
                    <i class="fa fa-times fa-2x" (click)="onSiteDelete(row.id)" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>

<!------------------Room card list ------------------------->
<div class="card" *ngFor="let room of clientRooms; let roomNo=index;">
  <div class="card-body">
    <div class="row">
      <div class="col-4 " style="margin: auto;" >
        <h6>{{roomNo+1}}) {{room.type}}&nbsp; - &nbsp;{{room.name}}&nbsp;</h6>
      </div>
      <div class="col-5 all-center">
        <h6>Room Total &nbsp;: &nbsp;{{room.furnitureTotalAmount+room.modularTotalAmount}}</h6>
      </div>
      <div class="col-2" align="right" style="margin: auto;">
        <button type="button"  class="btn btn-danger btn-sm" (click)="deleteRoom(roomNo)" >DELETE</button>
      </div>
    </div>
    <hr style="margin: 0;">
    <ul class="list-group list-group-flush">
      <!-- ADD FURNITURE -->
      <li class="list-group-item">
        <div class="row boqHeaderRow">
          <div class="col-md-12" >
            <div class="row">
              <div class="col-md-5" style="margin: auto;">
                <div class="form-check-inline boqTitleBox">
                  <input type="checkbox" class="form-check-input" id="room{{roomNo}}hasFurniture" [(ngModel)]="room.hasFurniture">
                  <label for="room{{roomNo}}hasFurniture" class="form-check-label">ADD FURNITURE</label>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group row titleTotalBox"  style="margin: auto;">
                  <label class="col col-form-label">Total : </label>
                  <div class="col">
                    <input min="0" type="number"  readonly class="form-control-plaintext" placeholder="0" [(ngModel)]="room.furnitureTotalAmount" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-2 boqTitleOptions">
                <i class="fa fa-refresh" (click)="furnitureRefresh(roomNo)" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="room.hasFurniture">
          <div class="col-md-12">
            <form #furnitureForm=ngForm>
              <div class="row furnitureSelectorRow" >
                <div class="col-md-2 col-lg-2 ">
                  <div class="form-group">
                    <label>Search By</label>
                    <select name="furnitureCategory{{roomNo}}" (change)="changeFurnitureSearchType(room.searchFurnitureBy,roomNo)" required class="form-control" [(ngModel)]="room.searchFurnitureBy">
                      <option value="item_code" selected>Item Code</option>
                      <option value="item_description">Item Description</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8 col-lg-9">
                  <div class="form-group">
                    <label>Entity</label>
                    <input class="form-control" attr.list="furnitureDataList{{roomNo}}" type="text" [(ngModel)]="room.selectedFurnitureEntity" name="selectedFurnitureEntry{{roomNo}}" required>
                    <datalist id="furnitureDataList{{roomNo}}" *ngIf="room.searchFurnitureBy == 'item_code'">
                      <option value="0" disabled selected>Choose</option>
                      <option *ngFor="let item of furnitureAllEntityData"> {{item.item_code}}</option>
                    </datalist>

                    <datalist id="furnitureDataList{{roomNo}}" *ngIf="room.searchFurnitureBy == 'item_description'">
                      <option *ngFor="let item of furnitureAllEntityData"> {{item.item_description}}</option>
                    </datalist>
                  </div>
                </div>
                <div class="col-md-2 col-lg-1" style="text-align: center; margin:auto;">
                  <button type="button" [disabled]="(furnitureForm.invalid)"  class="btn btn-primary" (click)="addFurnitureEntry(room.selectedFurnitureEntity,roomNo)">ADD</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="room.hasFurniture">
          <div *ngFor="let row of room.furnitureRows; let i=index" class="row">
            <div class="col-md-12" style="border: solid thin #ccc;border-radius:3px;padding: 0.8rem;">
              <div class="row furnitureDataRow">
                <div class="col-md-6">
                  <p><b> {{i+1}}) {{row.item_type}} : </b>{{row.item_description}}</p>
                  <p><b>Unit : </b>{{row.unit}} | <b>Rate : </b>{{row.rate}}</p>
                  <p><b>Amount : </b>{{row.amount}} | <b>Piece Quantity : </b>{{row.piece_quantity}}</p>
                </div>
                <div class="col-md-5">
                  <div class="row">
                    <div class="col">
                      <label>Length</label>
                      <input min="0" type="Number"  placeholder="LENGTH" [value]="row.length" disabled class="form-control-plaintext">
                    </div>
                    <div class="col">
                      <label>Breadth</label>
                      <input min="0" type="Number"  placeholder="BREADTH" [value]="row.breadth" disabled class="form-control-plaintext">
                    </div>
                    <div class="col">
                      <label>Height</label>
                      <input min="0" type="Number"  placeholder="HEIGHT" [value]="row.height" disabled class="form-control-plaintext">
                    </div>
                    <!--<div class="col">
                      <label></label>
                      <input type="Number"  placeholder="Fabric Meter" [(ngModel)]="room.fabric_m" class="form-control">
                    </div>-->
                    <div class="col">
                      <label>Quantity</label>
                      <input min="0" type="Number" name="room{{roomNo}}furniture{{i}}quantity" placeholder="Quantity" [(ngModel)]="room.furnitureResponseArray[i].quantity" (change)="changeRoomFurnitureEntityQuantity(roomNo,i)" class="form-control">
                    </div>
                    <div class="col">
                      <label>Total</label>
                      <input disabled min="0" type="Number" name="room{{roomNo}}furniture{{i}}total" [(ngModel)]="room.furnitureResponseArray[i].total"  placeholder="Total" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-1 delete-entity" >
                  <i class="fa fa-times fa-2x" (click)="furnitureDelete(row.id, roomNo)" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <!-- ADD MODULAR -->
      <li class="list-group-item">
        <div class="row boqHeaderRow">
          <div class="col-md-12" >
            <div class="row">
              <div class="col-md-5" style="margin: auto;">
                <div class="form-check-inline boqTitleBox">
                  <input type="checkbox"  class="form-check-input" id="room{{roomNo}}hasModular" [(ngModel)]="room.hasModular">
                  <label for="room{{roomNo}}hasModular" class="form-check-label">ADD MODULAR</label>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group row titleTotalBox"  style="margin: auto;">
                  <label class="col col-form-label">Total : </label>
                  <div class="col">
                    <input min="0" type="number" class="form-control-plaintext" readOnly placeholder="0" [(ngModel)]="room.modularTotalAmount" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-2 boqTitleOptions">
                <i class="fa fa-refresh" (click)="modularRefresh(roomNo)" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="room.hasModular">
          <div class="col-md-12">
            <form #modularForm=ngForm>
              <div class="row modularSelectorRow" >
                <div class="col-lg-2 col-md-2">
                  <div class="form-group">
                    <label>Search By</label>
                    <select name="modularCategory{{roomNo}}" (change)="changeModularSearchType(room.searchModularBy,roomNo)" required class="form-control" [(ngModel)]="room.searchModularBy">
                      <option value="item_code" selected>Item Code</option>
                      <option value="item_description">Item Description</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-9 col-md-8">
                  <div class="form-group">
                    <label>Entity</label>
                    <input class="form-control" attr.list="datalistModular{{roomNo}}"  type="text" [(ngModel)]="room.selectedModularEntity" name="selectedModularEntry{{roomNo}}" required>
                    <datalist id="datalistModular{{roomNo}}" *ngIf="room.searchModularBy == 'item_code'">
                      <option *ngFor="let item of modularAllEntityData"> {{item.item_code}}</option>
                    </datalist>

                    <datalist id="datalistModular{{roomNo}}" *ngIf="room.searchModularBy == 'item_description'">
                      <option *ngFor="let item of modularAllEntityData"> {{item.item_description}}</option>
                    </datalist>
                  </div>
                </div>
                <div class="col-lg-1 col-md-2" style="text-align: center; margin:auto;">
                  <button type="button" [disabled]="(modularForm.invalid)"  class="btn btn-primary" (click)="addModularEntry(room.selectedModularEntity,roomNo)">ADD</button>
                </div>
                <!-- <div class="col-md-2" style="text-align: center; margin:auto;">
                  <button type="button"  class="btn btn-primary" (click)="addModularEntry('allCatgeories','allEntities')">Add ALL</button>
                </div> -->
              </div>
            </form>
          </div>
        </div>
        <div *ngIf=room.hasModular>
          <div *ngFor="let row of room.modularRows; let i=index" class="row">
            <div class="col-md-12" style="border: solid thin #ccc;border-radius:3px;padding: 0.8rem;">
              <div class="row modularDataRow">
                <div class="col-md-6">
                  <p><b> {{i+1}}) {{row.item_type}}</b></p>
                  <p>{{row.item_description}}</p>
                  <p>Unit: {{row.unit}}| Rate : {{row.rate}}</p>
                </div>
                <div class="col-md-5">
                  <div class="row">
                    <div class="col">
                      <label>Length</label>
                      <input min="0" type="number"  placeholder="LENGTH" [value]="row.length" disabled class="form-control-plaintext">
                    </div>
                    <div class="col">
                      <label>Breadth</label>
                      <input min="0" type="number"  placeholder="BREADTH" [value]="row.breadth" disabled class="form-control-plaintext">
                    </div>
                    <div class="col">
                      <label>Height</label>
                      <input min="0" type="number"  placeholder="HEIGHT" [value]="row.height" disabled class="form-control-plaintext">
                    </div>
                    <!--<div class="col">
                      <input type="number"  placeholder="Fabric Meter" [(ngModel)]="modularResponseArray[i].fabric_m">
                    </div>-->
                    <div class="col">
                      <label>Quantity</label>
                      <input
                        type="number"
                        name="room{{roomNo}}modular{{i}}quantity"
                        placeholder="Quantity"
                        [(ngModel)]="room.modularResponseArray[i].quantity"
                        (change)="changeRoomModularEntityQuantity(roomNo, i)"
                        class="form-control"
                        min="0"
                      >
                    </div>
                    <div class="col">
                      <label>Total</label>
                      <input
                        disabled
                        type="number"
                        name="room{{roomNo}}modular{{i}}total"
                        [(ngModel)]="room.modularResponseArray[i].total"
                        placeholder="Total"
                        class="form-control"
                        min="0"
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-1 delete-entity">
                  <i class="fa fa-times fa-2x" (click)="modularDelete(row.id, roomNo)" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row footer-save-controls"  >
  <div class="col">
    <button class="btn btn-primary" type="submit" (click)=sendFinalData()>Save</button>
    <button class="btn btn-primary" type="submit" (click)=generateBOQPDF()>Generate PDF</button>
  </div>
</div>
