<div *ngIf="clientProfileData" class="card">
    <div class="card-body">
      <h4></h4>
      <h6 class="card-subtitle mb-2">
        <div class="row">
          <div class="offset-md-1 col-md-3">
            <b>Client ID : {{clientProfileData.id}}</b><br>
          </div>
          <div class="offset-md-4 col-md-4">
            <b>Client NAME : {{clientProfileData.name}}</b><br>
          </div>
        </div>
      </h6>
      <ul class="list-group list-group-flush">

        <!-- ADD ONSITE -->
        <li class="list-group-item">
          <div class="row onSiteHeaderRow">
            <div class="col-md-12" >
              <input type="checkbox"  id="addOnSiteCheck" [(ngModel)]="addOnSiteCheck">
              <label for="addOnSiteCheck">ADD ON SITE</label>
            </div>
          </div>
          <div class="row" *ngIf="addOnSiteCheck">
            <div class="col-md-12">
              <form #onSiteForm=ngForm>
                <div class="row onSiteSelectorRow" >
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Category</label>
                      <select name="onSiteCategory" (change)="getOnSiteDataDetails($event.target.value)" [(ngModel)]="onSiteCategory" required class="form-control">
                        <option value="0" selected>Select Category</option>
                        <option *ngFor="let category of onSiteCategories" [value]="category.category">{{category.category}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Entity</label>
                      <select name="entity"  [(ngModel)]="onSiteEntity" required class="form-control">
                        <option value="0" selected>Select Entity</option>
                        <option *ngFor="let entity of onSiteAllEntityData" [value]="entity.item_description">{{entity.item_description}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button" [disabled]="(onSiteForm.invalid)"  class="btn btn-primary" (click)="addOnSiteEntry(onSiteCategory,onSiteEntity)">ADD</button>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button"  class="btn btn-primary" (click)="addOnSiteEntry('allCatgeories','allEntities')">Add ALL</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="addOnSiteCheck">
            <div *ngFor="let row of onSiteRows; let i=index" class="row">
              <div class="col-md-12" style="border: solid thin #ccc;border-radius:3px;padding: 0.8rem;">
                <div class="row onSiteDataRow">
                  <div class="col-md-6">
                    <p><b> {{i+1}}) {{row.item_type}}</b></p>
                    <p>{{row.item_description}}</p>
                    <p>Unit: {{row.unit}}| Rate : {{row.rate}}</p>
                  </div>
                  <div class="col-md-5">
                    <p>
                      <input type="Number"  placeholder="Quantity" [(ngModel)]="onSiteResponseArray[i].quantity" (change)="updateOnSiteTotal((onSiteResponseArray[i].quantity)*row.rate,onSiteResponseArray[i].id)"> 
                      <!-- (onSiteResponseArray[i].quantity)*row.rate,onSiteResponseArray[i].id -->
                      <input type="number" name="total" [value]="(onSiteResponseArray[i].quantity)*row.rate"  placeholder="Total">
                    </p>
                    <form #addOnSiteContentForm="ngForm">
                      <p>
                        <input *ngIf="row.nos=='true'" type="Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].nos" placeholder="NOS">
                        <input *ngIf="row.length=='true'" type="Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].length" placeholder="LENGTH">
                        <input *ngIf="row.height=='true'" type="Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].height" placeholder="HEIGHT">
                        <input *ngIf="row.width=='true'" type="Number" [ngModelOptions]="{standalone: true}" [(ngModel)]="onSiteResponseArray[i].width"  placeholder="WIDTH/DEPTH">
                      </p>
                    </form>
                  </div>
                  <div class="col-md-1">
                    <i class="fa fa-trash" (click)="onSiteDelete(row.id)" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- ADD FURNITURE -->
        <li class="list-group-item">
          <div class="row furnitureHeaderRow">
            <div class="col-md-12" >
              <input type="checkbox"  id="addFurnitureCheck" [(ngModel)]="addFurnitureCheck">
              <label for="addFurnitureCheck">ADD FURNITURE</label>
            </div>
          </div>
          <div class="row" *ngIf="addFurnitureCheck">
            <div class="col-md-12">
              <form #furnitureForm=ngForm>
                <div class="row furnitureSelectorRow" >
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Category</label>
                      <select name="furnitureCategory" (change)="getFurnitureDataDetails($event.target.value)" [(ngModel)]="furnitureCategory" required class="form-control">
                        <option value="0" selected>Select Category</option>
                        <option *ngFor="let category of furnitureCategories" [value]="category.category">{{category.category}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Entity</label>
                      <select name="entity"  [(ngModel)]="furnitureEntity" required class="form-control">
                        <option value="0" selected>Select Entity</option>
                        <option *ngFor="let entity of furnitureAllEntityData" [value]="entity.item_description">{{entity.item_description}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button" [disabled]="(furnitureForm.invalid)"  class="btn btn-primary" (click)="addFurnitureEntry(furnitureCategory,furnitureEntity)">ADD</button>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button"  class="btn btn-primary" (click)="addFurnitureEntry('allCatgeories','allEntities')">Add ALL</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="addFurnitureCheck">
            <div *ngFor="let row of furnitureRows; let i=index" class="row">
              <div class="col-md-12" style="border: solid thin #ccc;border-radius:3px;padding: 0.8rem;">
                <div class="row furnitureDataRow">
                  <div class="col-md-6">
                    <p><b> {{i+1}}) {{row.item_type}}</b></p>
                    <p>{{row.item_description}}</p>
                    <p>Unit: {{row.unit}}| Rate : {{row.rate}}</p>
                    <p>Amount: {{row.amount}}| Piece Quantity : {{row.piece_quantity}}</p>
                  </div>
                  <div class="col-md-5">
                    <p>
                      <input type="Number"  placeholder="LENGTH" [value]="row.length" disabled> 
                      <input type="Number"  placeholder="BREADTH" [value]="row.breadth" disabled>
                      <input type="Number"  placeholder="HEIGHT" [value]="row.height" disabled>
                      <input type="Number"  placeholder="Fabric Meter" [(ngModel)]="furnitureResponseArray[i].fabric_m"> 
                      <input type="Number"  placeholder="Quantity" [(ngModel)]="furnitureResponseArray[i].quantity" (change)="updateFurnitureTotal((furnitureResponseArray[i].quantity)*row.main_rate,furnitureResponseArray[i].id)"> 
                      <input type="Number" name="total" [value]="(furnitureResponseArray[i].quantity)*row.main_rate"  placeholder="Total">
                    </p>
                  </div>
                  <div class="col-md-1">
                    <i class="fa fa-trash" (click)="furnitureDelete(row.id)" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- ADD MODULAR -->
        <li class="list-group-item">
          <div class="row modularHeaderRow">
            <div class="col-md-12" >
              <input type="checkbox"  id="addModularCheck" [(ngModel)]="addModularCheck">
              <label for="addModularCheck">ADD MODULAR</label>
            </div>
          </div>
          <div class="row" *ngIf="addModularCheck">
            <div class="col-md-12">
              <form #modularForm=ngForm>
                <div class="row modularSelectorRow" >
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Category</label>
                      <select name="modularCategory" (change)="getModularDataDetails($event.target.value)" [(ngModel)]="modularCategory" required class="form-control">
                        <option value="0" selected>Select Category</option>
                        <option *ngFor="let category of modularCategories" [value]="category.category">{{category.category}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Entity</label>
                      <select name="entity"  [(ngModel)]="modularEntity" required class="form-control">
                        <option value="0" selected>Select Entity</option>
                        <option *ngFor="let entity of modularAllEntityData" [value]="entity.item_description">{{entity.item_description}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button" [disabled]="(modularForm.invalid)"  class="btn btn-primary" (click)="addModularEntry(modularCategory,modularEntity)">ADD</button>
                  </div>
                  <div class="col-md-2" style="text-align: center; margin:auto;">
                    <button type="button"  class="btn btn-primary" (click)="addModularEntry('allCatgeories','allEntities')">Add ALL</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="addModularCheck">
            <div *ngFor="let row of modularRows; let i=index" class="row">
              <div class="col-md-12" style="border: solid thin #ccc;border-radius:3px;padding: 0.8rem;">
                <div class="row modularDataRow">
                  <div class="col-md-6">
                    <p><b> {{i+1}}) {{row.item_type}}</b></p>
                    <p>{{row.item_description}}</p>
                    <p>Unit: {{row.unit}}| Rate : {{row.rate}}</p>
                  </div>
                  <div class="col-md-5">
                    <p>
                      <p>
                        <input type="Number"  placeholder="LENGTH" [value]="row.length" disabled> 
                        <input type="Number"  placeholder="BREADTH" [value]="row.breadth" disabled>
                        <input type="Number"  placeholder="HEIGHT" [value]="row.height" disabled>
                        <input type="Number"  placeholder="Fabric Meter" [(ngModel)]="modularResponseArray[i].fabric_m"> 
                        <input type="Number"  placeholder="Quantity" [(ngModel)]="modularResponseArray[i].quantity" (change)="updateModularTotal((modularResponseArray[i].quantity)*row.main_rate,modularResponseArray[i].id)"> 
                        <input type="number" name="total" [value]="(modularResponseArray[i].quantity)*row.main_rate"  placeholder="Total">
                      </p>
                  </div>
                  <div class="col-md-1">
                    <i class="fa fa-trash" (click)="modularDelete(row.id)" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="row" >
        <div class="col-md-12" style="text-align: center;">
          <button class="btn btn-primary" type="submit" (click)=sendFinalSubmitData()>Submit</button>
        </div>
      </div>
    </div>
</div>

