<div *ngIf="clientProfileData" class="card">
    <div class="card-body">
        <div class="row">
            <div class="offset-md-1 col-md-3">
                <b>Client ID : {{clientProfileData.id}}</b><br>
            </div>
            <div class="offset-md-4 col-md-3">
                <b>Client NAME : {{clientProfileData.name}}</b><br>
            </div>
        </div>
        <br><br>
        <!-- ADD ONSITE -->
        <div style="padding-left: 20px; padding-right: 20px">
            <div class="row">
                <div class="col-md-12" style=" background-color:rgb(125, 141, 228);">
                    <input id="addOnSiteCheck" type="checkbox" [(ngModel)]="addOnSiteCheck">
                    <label for="addOnSiteCheck">
                        <p style="margin :0px; margin-left:20px ; color: black; padding-top:10px; font-size: 20px;">ADD
                            ON
                            SITE
                        </p>
                    </label>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="addOnSiteCheck">
                <div class="col-md-4">
                    <select name="Category" (change)="getDataDetails($event.target.value)" ngModel>
                        <option disabled>Select Category</option>
                        <option value="">ALL</option>
                        <option *ngFor="let category of onSiteCategories" value="{{category.category}}">{{category.category}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select name="entity" ngModel>
                        <option disabled>Select Entity</option>
                        <option *ngFor="let entity of requirementFormEntities" value="entity.item_description">{{entity.item_description}}</option>
                    </select>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary" (click)="addOnSiteEntry()">ADD</button>
                </div>
            </div>
            <div *ngIf="addOnSiteCheck">
                <div *ngFor="let row of onSiteRows; let i=index" class="row">
                    <div class="col-md-12" style="border: solid thin grey;padding: 20px;">
                        <div class="row onSiteDataRow">
                            <div class="col-md-6">
                                <p><b> {{i+1}}) Category Name Category Name Category Name</b></p>
                                <p>Entry Name Entry Name Entry Name Entry Name Entry Name</p>
                                <p>Unit: Sq. ft. | Rate : 30</p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <input type="Number" placeholder="Quantity">
                                    <input type="Number" placeholder="Total">
                                </p>
                                <form #addContentForm="ngForm">
                                    <p>
                                        <input type="Number" placeholder="NOS">
                                        <input type="Number" placeholder="LENGTH">
                                        <input type="Number" placeholder="HEIGHT">
                                        <input type="Number" placeholder="WIDTH/DEPTH">
                                    </p>
                                </form>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-refresh" (click)="onSiteRefresh()" aria-hidden="true"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-trash" (click)="onSiteDelete(row.id)" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADD MODULAR -->
        <div style="padding-left: 20px; padding-right: 20px">
            <div class="row">
                <div class="col-md-12" style=" background-color:rgb(208, 247, 144);">
                    <input id="addModularCheck" type="checkbox" [(ngModel)]="addModularCheck">
                    <label for="addModularCheck">
                        <p style="margin :0px; margin-left:20px ; color: black; padding-top:10px; font-size: 20px;">ADD
                            MODULAR
                        </p>
                    </label>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="addModularCheck">
                <div class="col-md-4">
                    <select>
                        <option disabled>Select Category</option>
                        <option value="Nishtha">Nishtha</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select>
                        <option disabled>Select Entry</option>
                        <option value="Nishtha">Nishtha</option>
                    </select>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary" (click)="addModularEntry()">ADD</button>
                </div>
            </div>
            <div *ngIf="addModularCheck">
                <div *ngFor="let row of modularRows; let i=index" class="row">
                    <div class="col-md-12" style="border: solid thin grey;padding: 20px;">
                        <div class="row onSiteDataRow">
                            <div class="col-md-6">
                                <p><b> {{i+1}}) Category Name Category Name Category Name</b></p>
                                <p>Entry Name Entry Name Entry Name Entry Name Entry Name</p>
                                <p>Unit: Sq. ft. | Rate : 30</p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <input type="Number" placeholder="Quantity">
                                    <input type="Number" placeholder="Total">
                                </p>
                                <form #addContentForm="ngForm">
                                    <p>
                                        <input type="Number" placeholder="NOS">
                                        <input type="Number" placeholder="LENGTH">
                                        <input type="Number" placeholder="HEIGHT">
                                        <input type="Number" placeholder="WIDTH/DEPTH">
                                    </p>
                                </form>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-refresh" (click)="modularRefresh()" aria-hidden="true"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-trash" (click)="modularDelete(row.id)" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADD FURNITURE -->
        <div style="padding-left: 20px; padding-right: 20px">
            <div class="row">
                <div class="col-md-12" style=" background-color: #e9ab38;">
                    <input id="addFurnitureCheck" type="checkbox" [(ngModel)]="addFurnitureCheck">
                    <label for="addFurnitureCheck">
                        <p style="margin :0px; margin-left:20px ; color: black; padding-top:10px; font-size: 20px;">ADD
                            FURNITURE
                        </p>
                    </label>
                </div>
            </div>
            <br>
            <div class="row" *ngIf="addFurnitureCheck">
                <div class="col-md-4">
                    <select>
                        <option disabled>Select Category</option>
                        <option value="Nishtha">Nishtha</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select>
                        <option disabled>Select Entry</option>
                        <option value="Nishtha">Nishtha</option>
                    </select>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary" (click)="addFurnitureEntry()">ADD</button>
                </div>
            </div>
            <div *ngIf="addFurnitureCheck">
                <div *ngFor="let row of furnitureRows; let i=index" class="row">
                    <div class="col-md-12" style="border: solid thin grey;padding: 20px;">
                        <div class="row onSiteDataRow">
                            <div class="col-md-6">
                                <p><b> {{i+1}}) Category Name Category Name Category Name</b></p>
                                <p>Entry Name Entry Name Entry Name Entry Name Entry Name</p>
                                <p>Unit: Sq. ft. | Rate : 30</p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <input type="Number" placeholder="Quantity">
                                    <input type="Number" placeholder="Total">
                                </p>
                                <form #addContentForm="ngForm">
                                    <p>
                                        <input type="Number" placeholder="NOS">
                                        <input type="Number" placeholder="LENGTH">
                                        <input type="Number" placeholder="HEIGHT">
                                        <input type="Number" placeholder="WIDTH/DEPTH">
                                    </p>
                                </form>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-refresh" (click)="furnitureRefresh()" aria-hidden="true"></i>
                                &nbsp;&nbsp;
                                <i class="fa fa-trash" (click)="furnitureDelete(row.id)" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>