$primary-color: #007bff;
:root{
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.all-center{
  margin: auto;
  text-align: center;
}
/*input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 0.5rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }*/

datalist{
  width: 100%;
  background-color: white;
}

//onSite
.boqHeaderRow{
  background: $primary-color;
  padding: 0.1rem;
}
/*.onSiteHeaderRow > div{

}*/
.boqTitleOptions{
  margin: auto;
  text-align: right;
}
.boqTitleOptions i{
  color: white;
  margin: auto;
  font-size: 1.2rem;
}
.boqTitleBox [type=checkbox]{
  //content: "";
  //display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}

.boqTitleBox label{
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 1rem;
}
.boqTitleBox label:hover{
  text-decoration: underline;
  cursor: grab;
}
.titleTotalBox label{
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0 !important;
}
.titleTotalBox input{
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
.titleTotalBox input::placeholder{
  color: white;
}
.onSiteSelectorRow{
  border: solid thin #ccc ;
  border-radius: 2px;
  padding-top: 0.6rem;
  margin-bottom: 1rem;
}
.onSiteSelectorRow label{
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
label{
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.onSiteDataRow{
    display: flex;
    justify-content: center;
}
.onSiteDataRow p{
    padding: 0.2rem;
    //border: solid thin black;
    margin: 0;
}

/*.onSiteDataRow input[type=Number]{
    padding: 0.5rem;
    margin: 0.3rem;
    flex: 1;
    min-width: 0;
    font-size: 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: 2px solid #ccc;
}*/

//furnitue
.furnitureHeaderRow > div{
  background: #34b5b8;
}
.furnitureHeaderRow label{
  color: white;
  margin: 0px 0px 0px 20px;
  padding-top:10px;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
.furnitureHeaderRow label:hover{
  text-decoration: underline;
  cursor: grab;
}
.furnitureSelectorRow{
  border: solid thin #ccc ;
  border-radius: 2px;
  padding-top: 0.6rem;
  margin-bottom: 1rem;
}
.furnitureSelectorRow label{
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.furnitureDataRow{
    display: flex;
    justify-content: center;
}
.furnitureDataRow p{
    padding: 0.2rem;
    //border: solid thin black;
    margin: 0;
}

/*
.furnitureDataRow input[type=Number]{
    padding: 0.5rem;
    margin: 0.3rem;
    flex: 1;
    min-width: 0;
    font-size: 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: 2px solid #ccc;
}
*/

//modular

.modularHeaderRow > div{
  background: #34b5b8;
}
.modularHeaderRow label{
  color: white;
  margin: 0px 0px 0px 20px;
  padding-top:10px;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
.modularHeaderRow label:hover{
  text-decoration: underline;
  cursor: grab;
}
.modularSelectorRow{
  border: solid thin #ccc ;
  border-radius: 2px;
  padding-top: 0.6rem;
  margin-bottom: 1rem;
}
.modularSelectorRow label{
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.modularDataRow{
    display: flex;
    justify-content: center;
}
.modularDataRow p{
    padding: 0.2rem;
    //border: solid thin black;
    margin: 0;
}

/*.modularDataRow input[type=Number]{
    padding: 0.5rem;
    margin: 0.3rem;
    flex: 1;
    min-width: 0;
    font-size: 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: 2px solid #ccc;
}*/

.searchDropdown{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  color: #66615b;
  line-height: normal;
  font-size: 14px;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: none;
  display: block;
  width: 100%;
}

:host ::ng-deep.ui-dropdown{
  border-color: transparent;
  width: 100%;
}

.footer-save-controls{
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 3rem;
  width: 100%;
  background-color: white;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: right;
}
.footer-save-controls button{
  margin: 0.6rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.delete-entity{
  margin: auto;
  text-align: center;
  color: #dc3545;
}
