<div class="card" style="background-color:white;">
  <div class="card-body">

    <form #designQuotationForm="ngForm" (ngSubmit)="submitDesignQuotationForm(designQuotationForm)">
      <div class="row" style="margin-bottom: 2%; margin-left: 8%;">
        <u>
          <h4>Design Fees and Scope of Work</h4>
        </u>
      </div>
      <div class="row form-group">
        <div *ngFor="let room of rooms; let i=index" class="col-lg-4 col-md-6 col-sm-5 col-xs-5"
             style="margin-left: 10%;float: left;">
          <div class="row details">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 roomNames">
              <label class="roomNames">{{room.item_sub_type}}</label> &nbsp;&nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 choose">
              <select class="form-control" name="room{{i}}item_sub_type" [(ngModel)]="rooms[i].number">
                <option value="" disabled selected>Choose..</option>
                <option *ngFor="let num of countRooms" value="{{num}}">{{num}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 2%; margin-left: 8%;">
        <u>
          <h4>Add Any Custom Room ? </h4>
        </u>
      </div>
      <div class="row form-group">
        <div class="col-lg-6 col-md-8 col-sm-5 col-xs-5" style="margin-left: 8%;float: left; margin-right: 2%;">
          <input type="text" [(ngModel)]="extraRoom" name="extraRoom" class="form-control" placeholder="Type Room Name"/>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-5 col-xs-5" style="float: left;">
          <button type="button" class="form-control addButton" (click)="addRoom()">ADD</button>
        </div>
      </div>
      <div class="row" style="margin-bottom: 2%; margin-left: 8%;">
        <u>
          <h4>Extras</h4>
        </u>
      </div>
      <div class="row form-group">
        <div class="col-lg-4 col-md-6 col-sm-5 col-xs-5" style="margin-left: 10%;float: left;">
          <div class="row details">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 roomNames">
              <label class="roomNames">3D VIEW</label> &nbsp;&nbsp;
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5 choose">
              <select class="form-control" name="view3D" [(ngModel)]="view3D">
                <option value="0" disabled selected>Choose..</option>
                <option *ngFor="let num of countRooms" value={{num}}>{{num}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-5 col-xs-5" style="margin-left: 10%;float: left;">
          <div class="row details">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 roomNames">
              <label class="roomNames">SITE VISIT</label> &nbsp;&nbsp;
            </div>
            <div class="col-lg-4 col-md-5 col-sm-7 col-xs-7 choose">
              <input type="number" name="adhocCharges" class="form-control" [(ngModel)]="adhocCharges"
                     placeholder="0">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style=" text-align:center">
            <button type="button" class="btn btn-primary" [disabled]="designQuotationForm.invalid" (click)="save()">SAVE</button>
        </div>
        
        <div class="col-md-4" style=" text-align:center">
            <button type="button" class="btn btn-primary" [disabled]="disbalePDF" (click)="generatePDF()">GENERATE PDF</button>
        </div>

        <!-- <div class="col-md-4" style=" text-align:center">
            <button type="button" class="btn btn-primary" [disabled]="designQuotationForm.invalid"(click)="emailPDF()">EMAIL PDF</button>
        </div> -->
    </div>
    </form>
  </div>
</div>
<p-toast baseZIndex="100"></p-toast>
