<div class="container" style="vertical-align: middle;margin:auto">
    <div class="card" style="background-color:white;">
        <div class="card-body">
            <form #designQuotationForm="ngForm" (ngSubmit)="submitDesignQuotationForm(designQuotationForm)">
                <div class="row" style="text-align:center; margin:auto">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <b><u>
                                <h2>Design Quotation </h2>
                            </u></b>
                    </div>
                </div>
                <hr>
                <div class="row" style="margin-bottom: 2%; margin-left: 10%;">
                    <h4>Design Fees and Scope of Work</h4>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-5 col-xs-5" style="margin-left: 10%;float: left;">
                                <div class="row details">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 roomNames">
                                        <label class="roomNames">Bed Rooms</label> &nbsp;&nbsp;
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 choose">
                                        <select class="form-control" name="bedRoom" ngModel>
                                            <option value=0 selected>Choose.....</option>
                                            <option value=1>One</option>
                                            <option value=2>Two</option>
                                            <option value=3>Three</option>
                                            <option value=4>Four</option>
                                            <option value=5>Five</option>  
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-5 col-xs-5" style="margin-left: 10%;float: left;">
                                <div class="row details">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 roomNames">
                                        <label class="roomNames">Bath Rooms</label> &nbsp;&nbsp;
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 choose">
                                        <select class="form-control" name="bathRoom" ngModel>
                                            <option value=0 selected>Choose.....</option>
                                            <option value=1>One</option>
                                            <option value=2>Two</option>
                                            <option value=3>Three</option>
                                            <option value=4>Four</option>
                                            <option value=5>Five</option>  
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-5 col-xs-5 " style="margin-left: 10%;float: left;">
                                <div class="row details">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 roomNames">
                                        <label class="roomNames">Kitchen</label> &nbsp;&nbsp;
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 choose">
                                        <select class="form-control" name="kitchen" ngModel>
                                            <option value=0 selected>Choose.....</option>
                                            <option value=1>One</option>
                                            <option value=2>Two</option>
                                            <option value=3>Three</option>
                                            <option value=4>Four</option>
                                            <option value=5>Five</option>  
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-5 col-xs-5" style="margin-left: 10%;float: left;">
                                <div class="row details">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 roomNames">
                                        <label class="roomNames">Living Room</label> &nbsp;&nbsp;
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 choose">
                                        <select class="form-control" name="livingRoom" ngModel>
                                            <option value=0 selected>Choose.....</option>
                                            <option value=1>One</option>
                                            <option value=2>Two</option>
                                            <option value=3>Three</option>
                                            <option value=4>Four</option>
                                            <option value=5>Five</option>  
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-5 col-xs-5" style="margin-left: 10%;float: left;">
                                <div class="row details">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 roomNames">
                                        <label class="roomNames">3D View</label> &nbsp;&nbsp;
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 choose">
                                        <select class="form-control" name="view3D" ngModel>
                                            <option value=0 selected>Choose.....</option>
                                            <option value=1>One</option>
                                            <option value=2>Two</option>
                                            <option value=3>Three</option>
                                            <option value=4>Four</option>
                                            <option value=5>Five</option>  
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class=" col-lg-6 col-md-6 col-sm-5 col-xs-5" style="margin-left: 10%;float: left;">
                                <div class="row details">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5 roomNames">
                                        <label class="roomNames">Adhoc Charges</label> &nbsp;&nbsp;
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 choose">
                                        <input type="number" name="adhocCharges" class="form-control"
                                            placeholder="write if any adhoc charges .." ngModel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-11" style=" text-align:center">
                        <button type="submit" class="btn" [disabled]="designQuotationForm.invalid">Generate Design
                            Quotation</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>