
.border{
    border:solid thin red;
}
.details{
    margin-bottom: 20px;
}
.roomNames{
    background-color: #51cbce;
    color:white;
    font-weight: bold;
    padding-top: 7px;
}
.choose{
    margin-left:-8% ;       
}

.addButton{
    font-weight: bold;
    color: white;
    background-color:#51cbce;
}