
.border{
    border:solid thin red;
}
.details{
    margin-bottom: 20px;
}
.roomNames{
    background-color: rgb(219, 214, 214);
    color:black;
    font-weight: bold;
    padding-top: 7px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.choose{
    margin-left:-8% ;       
}

.addButton{
    font-weight: bold;
    background-color:rgb(157, 198, 236);
}