/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Mukta', sans-serif !important;
}

input{
  min-width: 0 !important;
  min-height: 0;
  size: "1";
}
