$page-height: 80vh;
$background-color: #e6ecf1;

.has-background-color{
  background-color: $background-color;
}
.has-full-width{
  width: 100%;
}
.custom-card{
  border-radius: 2px !important;
  text-align: center !important;
  padding-bottom: 2rem;
}
div.scroll {
  height: $page-height;
  overflow-x: hidden;
  overflow-x: auto;
}

.box{
  margin: 0.8rem;
}

.renovateimage{
  height: 200px;
  width:170px;
  padding:10px;
  border: solid thin grey;
}

.renovateCheckboxes:checked + .label-for-check {
  border-color: #f58723;
}

.leftBox{
  border: solid thin $background-color;
}

.rightBox{
  border: solid thin $background-color;
}
.rightBox h4{
  font-weight: 500;
}

.radio-buttons input[type="radio"] {
opacity:0.011;
z-index:100;
}
.radio-buttons input[type="radio"]:checked + label {
  background:#6ec7e0;
  color: white;
}
.radio-buttons label {
  display: inline-block;
  padding: 1.4rem 3rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  border:1px solid #CCC;
  border-radius: 2px;
  cursor:pointer;
  //z-index:90;
}
.radio-buttons span{
  font-weight: bold;
}

.detailedFromOptionsBox{
  border: solid thin grey;
  border-radius: 5px;
  margin: 10px;
  padding: 0px;
  width: 100%;
}
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid thin grey;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.elementsDetailsOptions{
  margin-top: 5%;
  line-height: 20px;
}
.detailedFromOptionsBox input[type=checkbox] {
  vertical-align: middle;
  float: right;
  width: 20px;
  height: 20px;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
.elementsDetailsOptions input[type=checkbox] {
  vertical-align: middle;
  margin-top: 2%;
  margin-right: 5%;
  float: left;
}
.container span {
  display: inline-block;
}
.radio-buttons label:hover {
background:rgb(224, 222, 222);
}
@media only screen and (max-width: 768px) {
  .leftBox{
      margin-bottom: 30px;;
  }
}
@media only screen and (min-width: 768px) {
  .leftBox{
      border:solid thin $background-color;
      height:$page-height
  }
}
