<div class="container">

    <div class="container-fluid">
        <div>
            <!-- <img src="assets/img/Picture1.png" >    -->
            <!-- <a href="requirementForm/getStarted"><button>Get Started</button></a> -->
            <br>
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <img src="assets/img/marksdzyn-logo-horizontal-new.jpg">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="offset-md-1 col-md-5" style="border:solid thin black">
                            <div class="row">
                                <div class=" col-md-10">
                                    <hr style="border: solid thick grey;">
                                </div>
                                <div class="col-md-2" style="line-height: 40px;">
                                    Start
                                </div>
                            </div>
                            <br><br>
                            <div class="row">
                                <span style="margin-left: 40px;">
                                    <h4><b>What will your home be like ?</b></h4>
                                </span>
                                <p style="text-align:center">Answering the following questions will allow us to tailor
                                    the results based on your needs.</p>
                            </div>
                            <div class="row">
                                <img src="assets/img/home.png" />
                            </div>
                        </div>
                        <div class="col-md-5" style="border:solid thin black">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>